/* Profile Styles */

.container {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.profileMain {
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:1000px;
  margin:0 auto;
  margin-top:70px;
  align-items:center;
}

.profileBox {
  background:#007254;
  width:400px;
  height:275px;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  align-items:center;
  border:1px solid #00f59c;
}

.profileAvatar {
  padding:10px;
}

.profileImg {
  max-height:180px;
  border-radius:5px;
}

.profileInfo {
  display:flex;
  flex-direction:column;
}

.profileName {
  font-size:3em;
  color:#FFFFFF;
  font-family:'Lato';
  font-variant:small-caps;
}

.tagInput {
  margin-top:15px;
  width:70%;
  padding:15px;
  color:#FFFFFF;
  font-size:1.2em;
  border-radius:5px;
  background:#007254;
  border:1px solid #00f59c;
}

.tagInput:focus {
  outline:none;
}

.tagsBox {
  padding:15px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;

}

@keyframes flicker {
  0% {
    background:rgba(0,245,156, 0.5);
  }
  100% {
    background:rgba(0,245,156, 0.1)
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF;
}
